h1{
    color: blue;
    text-align: center;
    top: 50px;
    position: relative;
}

.Deliverables h3{
    color: navy;
}

nav {
    position: fixed;
    background-color: black;
    height: 50px;
    text-align: left;
    width: 100%;
    top: 0px;
    z-index: 10;
}
nav a {
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin: 10px;
}

section {
    text-align: center;
    position: relative;
    top: 50px;
}

.Deliverables a{
    width: 1000px;
    height: 700px;
}

