h1{
    color: red;
}

.Deliverables h3{
    color: navy;

}

nav a{
    position: fixed;
    margin: auto;
    display: inline-block;
}

.Deliverables iframe{
    width: 500px;
    height: 400px;
    margin: 50px;
    position: relative;
    display: inline-block;
    border: 5px solid blue;
}