h1{
    color: blue;
}

.Deliverables h3{
    color: navy;

}

nav a{
    position: fixed;
}

.Deliverables iframe{
    width: 500px;
    height: 400px;
    margin: auto;
    position: relative;
    display: inline-block;
}

.center {
    display: block;
    margin: auto;
}